<a href="https://colab.research.google.com/github/prathamesh-bhosale/Integrations/blob/master/Prac1AIMLs.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Program 1. : **Hello World**

---

In [ ]:
print("Hello World")

Hello World



---

Program 2. : **Operators Examples:**

In [ ]:
a = int(input("enter no1 : "))
op = input("enter operator (+,-,*15,/,**): ")
b = int(input("enter no2 : "))
try:
  if op == '+' :
    print(a , " + ", b , " = " , a+b)
  elif op == '-' :
    print(a , " - ", b , " = " , a-b)
  elif op == '*' :
    print(a , " * ", b , " = " , a*b)
  elif op == '/' :
    print(a , " / ", b , " = " , a/b)
  elif op == '**':
    print(a , " ** ", b , " = " , a**b)
  else:
    print("Enter Valid operator")
except Exception as e:
    print("Error occured .")

enter no1 : 23
enter operator (+,-,*,/,**): -
enter no2 : 15
23  -  15  =  8



---

Program 3. : **Area of Circle Program**

In [ ]:
from math import pi
try:
  r = int(input("enter radius: "))
  print(" Area of Circle with radius  " , r , " is" , pi*r*r)
except Exception as e:
  print(e)

enter radius: 7
 Area of Circle with radius   7  is 153.93804002589985



---

Program 4. : **Area of Triangle Program**

In [ ]:
b = int(input("enter base: "))
h = int(input("enter height: "))
print("Area of Traingle with base  " , b , " and height  " , h , " is" , (b*h)/2)

enter base: 3
enter height: 8
Area of Traingle with base   3  and height   8  is 12.0



---

Program 5. : **Multiplication Table Program**

In [ ]:
i = int(input("enter the number : "))
try:
  
  for m in range(1,6):
    print( i , " X " , m,"=", i * m)

  n = 5
  while(n <= 10):
    print( i , " X " , n,"=", i * n)
    n = n + 1
except Exception as e:
  print(e)

enter the number : 7
7  X  1 = 7
7  X  2 = 14
7  X  3 = 21
7  X  4 = 28
7  X  5 = 35
7  X  5 = 35
7  X  6 = 42
7  X  7 = 49
7  X  8 = 56
7  X  9 = 63
7  X  10 = 70



---

Program 6. : **Print First 50 Odd-Even Numbers Program**

In [ ]:

for x in range(1,51):
  if(x%2==0):
    print(x ,": even" )
  else:
    print(x ,": odd" )

1 : odd
2 : even
3 : odd
4 : even
5 : odd
6 : even
7 : odd
8 : even
9 : odd
10 : even
11 : odd
12 : even
13 : odd
14 : even
15 : odd
16 : even
17 : odd
18 : even
19 : odd
20 : even
21 : odd
22 : even
23 : odd
24 : even
25 : odd
26 : even
27 : odd
28 : even
29 : odd
30 : even
31 : odd
32 : even
33 : odd
34 : even
35 : odd
36 : even
37 : odd
38 : even
39 : odd
40 : even
41 : odd
42 : even
43 : odd
44 : even
45 : odd
46 : even
47 : odd
48 : even
49 : odd
50 : even


---

Program 7. : **Program to check number is prime or not**

In [ ]:
i = int(input("enter the number : "))
try:
    if i > 1:    
        for n in range(2, int(i/2)+1):
            if (i % n) == 0:
                print(i, "is not a prime number")
                break
        else:
            print(i, "is a prime number")
    else:
        print(i, "is not a prime number")
except Exception as e:
    print(e)

enter the number : 7
7 is a prime number



---

Program 8. : **Program to enter name in pattern of triangle**

In [7]:
name = input("Enter the Name to make pattern: ")
try:
    num = 1
    k = len(name) - 1
    for i in range(len(name)):
      num = 1
      for j in range(k):
        print(end=' ')
      k = k - 1
      for j in range(0,i+1):
        print(name[j].upper(), end=' ')
        num = num + 1
      print('\n')
except Exception as e:
  print(e)

Enter the Name to make pattern: prathamesh
         P

        P R

       P R A

      P R A T

     P R A T H

    P R A T H A

   P R A T H A M

  P R A T H A M E

 P R A T H A M E S

P R A T H A M E S H



---

Program 9. : **Program to check year is leap year or not**

In [11]:
i = int(input("enter year : "))
try:
  if ((i%400 == 0 and i%100==0) or (i%4 == 0 and i%100!=0)):
    print(i ," is a leap year")
  else:
    print(f"{i} is not a leap year")

except Exception as e:
  print(e)

enter year : 2008
2008  is a leap year



---

Program 9. : **Program to check word is palindrome or not**

In [12]:
wd = input("enter a word : ").upper()
try:
    if wd == wd[::-1]:
      print(wd , "is palindrome")
    else:
      print(wd , "is not palindrome")
except Exception as e:
  print(e)

enter a word :racecar
RACECAR is palindrome



---

In [17]:
stDetails = {}
try:
    t = 1
    len = 0
    while t == 1:
       # stDetails = {} , len = 0 , use this initialization to start new dictionary each time
        n = int(input("Enter number of new students to store in dictionary: "))
        for i in range(len,len+n):
            stDetails[i+1]={}
            stDetails[i+1]['Roll No.'] = int(input("enter Roll number of new student : "))
            stDetails[i+1]['Name'] = input("enter Full Name of new student : ")
            stDetails[i+1]['Address'] = input("Enter Student Address : ")
            len = len + 1
        print("\n Printing Stored Students")
        for key, value in stDetails.items():
            print('Sr.no. ', key , " : ")
            for k, v in value.items():
                print("\t ", k + " : ", value[k])
        cont = (input("if u want to exit press y or yes or exit & anything else to continue : ")).lower()
        if (cont == 'yes' or cont == 'exit' or cont =='y'):
          t = 0
except Exception as e:
    print(e)
print("----")

Enter number of new students to store in dictionary: 3
enter Roll number of new student : 1
enter Full Name of new student : Prathamesh
Enter Student Address : Mumbai
enter Roll number of new student : 2
enter Full Name of new student : Jayesh
Enter Student Address : Navi Mumbai
enter Roll number of new student : 3
enter Full Name of new student : Rushi
Enter Student Address : Thane

 Printing Stored Students
Sr.no.  1  :
	  Roll No. :  1
	  Name :  Prathamesh
	  Address :  Mumbai
Sr.no.  2  :
	  Roll No. :  2
	  Name :  Jayesh
	  Address :  Navi Mumbai
Sr.no.  3  :
	  Roll No. :  3
	  Name :  Rushi
	  Address :  Thane
if u want to exit press y or yes or exit & anything else to continue : no
Enter number of new students to store in dictionary: 2
enter Roll number of new student : 4
enter Full Name of new student : James
Enter Student Address : UK
enter Roll number of new student : 5
enter Full Name of new student : Animesh
Enter Student Address : Madhya Pradesh

 Printing Stored Students
Sr.no.  1  :
	  Roll No. :  1
	  Name :  Prathamesh
	  Address :  Mumbai
Sr.no.  2  :
	  Roll No. :  2
	  Name :  Jayesh
	  Address :  Navi Mumbai
Sr.no.  3  :
	  Roll No. :  3
	  Name :  Rushi
	  Address :  Thane
Sr.no.  4  :
	  Roll No. :  4
	  Name :  James
	  Address :  UK
Sr.no.  5  :
	  Roll No. :  5
	  Name :  Animesh
	  Address :  Madhya Pradesh
if u want to exit press y or yes or exit & anything else to continue : y
----